/* =============== Font Options =============== */
/* https://www.purahw.com/ */
/* font-family: "Allerta Stencil"; google*/
/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

@import url("https://use.typekit.net/eqr6zee.css" rel="preconnect");

:root {
  /* dark shades of primary color*/
  --clr-blue-txt: hsl(201deg 14% 46%);
  --clr-purple-txt: hsl(259deg 15% 51%);
  --clr-primary-1: hsl(254deg 14% 29%);
  --clr-primary-2:  hsl(253deg 13% 51%); /*hsl(256deg 28% 69%);*/
  --clr-primary-3:   hsl(253deg 15% 51%);/* hsl(220deg 22% 87%);*/
  --clr-primary-4:  hsl(256deg 29% 69%);
  --clr-primary-4d:  hsl(259deg 21% 59%);/* hsl(256deg 22% 63%);
  /* primary/main color */
  --clr-primary-5: rgb(101, 122, 134);/* hsl(201deg 31% 69%);*/
  --clr-primary-5-lt: rgb(101, 122, 134);/* hsl(201deg 45% 65% / 5%);*/
  --clr-primary-5d:rgb(101, 122, 134);/*hsl(201deg 45% 65%);*/
  /* lighter shades of primary color */
  --clr-primary-6: hsl(252deg 16% 94%);
  --clr-primary-7: hsl(323deg 25% 86%);
  --clr-primary-8: hsl(232deg 17% 83%);
  --clr-primary-9: hsl(226deg 22% 88%);
  --clr-primary-10:hsl(252deg 16% 94%);
  --clr-primary-11: hsl(252deg 20% 95%);
  --clr-primary-12: hsl(201deg 55% 38% / 7%);
  --clr-primary-btn-bg: hsl(252deg 1% 19%);
  /* fonts */
  --font-body :  proxima-nova, sans-serif;
  --font-body: alga, serif;
  --font-cursive:beloved-script, sans-serif;
  --font-title : beloved-sans, sans-serif;
  --font-weight-body: 400;
  --font-weight-cursive: 700;
  --font-weight-title: 700;

  /* darkest grey - used for headings */
  --clr-grey-1: #343a40; /* keep */
  --clr-grey-2: #6c757d;
  --clr-grey-3: #212529;;
  --clr-grey-4: #616161; 
  /* grey used for paragraphs */
  --clr-grey-5: #212529;
  --clr-grey-6: #BDBDBD; 
  --clr-grey-7: #E0E0E0;
  --clr-grey-8: #EEEEEE;
  --clr-grey-9: #f5f5f5;
  --clr-grey-10:#FAFAFA; 
  --clr-white:#fff;

  --clr-red-dark: hsl(343deg 36% 47%);
  --clr-red-light: hsl(342deg 17% 57%);/*  hsl(359deg 49% 61%); hsl(0deg 29% 45%);*/

  --clr-green-dark: hsl(160deg 2% 27%);
  --clr-green-light: hsl(164deg 33% 85%);

  /*--clr-black: #171113;*/
  --clr-black: hsl(240deg 67% 1%);
  --transition: all 0.3s linear;
  --easyTransition: all 100ms ease 0s;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/* =============== Global Styles =============== */
*,
::after,
::before {
  font-family: var(--font-body);
  font-weight:var(--font-weight-body);
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: transparent;
  -webkit-tap-highlight-color: transparent !important;
}
body {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  font-style: normal;
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 1rem;
  line-height: normal;
}
/*a:hover:not(.btn){
  box-shadow: rgb(199 146 234) 0px -1px 0px inset;
  transition: var(--easyTransition);
}*/
hr {
  border: none;
  border-top: 1px solid var(--clr-grey-8);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
  font-style: normal;
  font-weight: var(--font-weight-title); /* beloved-sans - h1, h2...*/
  line-height: 2rem;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
input{
  font-family: var(--font-body);
  letter-spacing: var(--spacing);
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.text-center {
  text-align: center;
}
a, button {
  font-family: var(--font-body);
  font-weight: var(--font-weight-body);
  letter-spacing: unset !important;
  line-height:normal;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.btn {
  background: var(--clr-primary-3);
  border-radius: var(--radius);
  border-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: var(--clr-white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-title);
  font-size: 0.875rem;
  letter-spacing: unset;
  font-weight: var(--font-weight-title); /* beloved-sans - btn*/
  padding: 0.475rem 0.75rem;
  text-transform: uppercase;
  transition: var(--transition);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-primary-3);
}
.title {
  text-align: center;
}
.title .underline {
  width: 6rem;
  height: 0.25rem;
  background: #49a6e9;
  background: var(--clr-primary-8);
  margin-left: auto;
  margin-right: auto;
}
.page-100 {
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
}
.page {
  min-height: calc(100vh - (20vh + 10rem));
  padding-top: 1rem;
}
.mcc{
  text-transform: uppercase;
  color: hsl(201deg 14% 46%);
}
footer + div.ally{
  background: var(--clr-black);
  color: var(--clr-primary-9);
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: 2rem;
  text-align: center;
}
footer+ div.ally a{
  color: var(--clr-primary-9);
}
